@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+BE+VLG:wght@100..400&display=swap');



.text-styles {
  font-family: "Playwrite BE VLG", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}



* {
    margin: 0;
    padding: 0;

  }
body {
  font-family: "Inter", sans-serif;
  background: black;
  color: white;
}

/* shire styles */
.text-center{
  text-align: center;
  
}
.container {
  max-width: 90rem;
  margin: 0rem auto;
  border-radius: 1rem;
  padding: 20px;

}


/* Header Section */
.header-bg
{

  background: linear-gradient(180.00deg,rgba(86, 212, 32, 0) 100%, rgb(55, 174, 11),);
 
}
.nav-option p {
  cursor: pointer;
  color: aliceblue;
  margin-top: 6px;
}


h3 {
  font-size: 36px;
  text-align: center;
  font-weight: 800;
  line-height: normal;
  color: rgb(255, 84, 0);

}

/* nav bar */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-title {
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  height: 40px;
  padding: 0px 20px 0px 10px;
}

.btn-download{

  height: 40px;
  width: 160px;
  border-radius: 20px;
  background-color: black;
  color: white;
  border: 1px solid white;
}
.btn-primary {
  border-radius: 42px;

  background: rgb(230, 83, 60);
  border: none;
  height: 40px;
  width: 160px;
  border-radius: 20px;
  cursor: pointer;
}

.nav-option > p {
  font-size: 18px;
  font-weight: normal;
  line-height: normal;
  text-align: center;
}
.responsove-nev{
  display: none;
  

}

/* Header section banner */
.header-container{
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 100%;
  display: flex;
}
.item-text{
width: 500px;


}
.item-text > p{
  color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.5px;
text-align: left;
}
.item-text >h1{
  font-weight: 900;
  font-size: 2rem;

}
.item-img{
background-image: url("../images/Images\ 2.png");

background-repeat: no-repeat;
background-position: center;
background-size: cover;
display: flex;
justify-content: center;
align-items: center;
height: 600px;
width: 400px;


}

.experience button{
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  display: flex;
  width: 11rem;
  height: 4rem;

  
}
.experience ,.video-tutorial ,.video-tutorial-2{
  font-size: 20px;
  color: white;
  
}
.experience{
 width: 100%;
}
.experience small{
  color: rgba(239, 237, 232, 0.65);
font-family: Inter;
font-size: 10px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.5px;
text-align: left;
}
#btn-1{
  margin-left: 220px;
  display: block;

}
.video-tutorial-2{
display: block;
font-weight: 900;
letter-spacing: 1px;


}
#btn-2{
  margin-top: 150px;
  display: block;
 
 
}
/* .habits-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.habits-feet img{
  border-radius: 50%;
} */



/* Run Section */
/* .run-container{
  display: flex;

  background-color: gray;
}
.run-text{
  padding: 20px;
}
.run-container img{
  width: 40%;
  height: 400px;
  border-radius: 30px;
  padding: 20px;
} */

/* movile screen */

@media screen and (min-width:576px) and (max-width:992px){
.header-container{
  display: block;
}
.navbar-title{
  gap: 1rem;
}
.item-text{
  padding-left: 10px;
  margin: 0 auto;
}
.item-img{
  margin: 0 auto;
 
}
.experience {
  width: 100%;
  
}
#btn-1{
 margin-left: 250px;
}






}


@media screen and (max-width:576px) {
  .header-container{
    display: block;
  }
  .navbar-title{
    display: none;
  }
  .responsove-nev{
    display: block;
  }
  .item-text{
    width:100%;
  }
  .item-img{
    width:300px;
    height: 500px;
    margin: 0 auto;
    margin-top: 20px;
  }
  .experience button{
   
    width: 8rem;
    height: 4rem;
 
    
  }
  #btn-1{
    margin-left: 150px;
    margin-top: 80px;
  }
  .experience{
    margin-right: 50px;
  }
 

}
